<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>blog challenge</title>
  <link rel="stylesheet" href="/styles.css"> <!-- Optional CSS link -->
</head>
<body>
  <header>
    <h2><a href="/compose"><button 
      style="background-color: yellow; 
      color: black; 
      font-size: 43px; 
      margin: 20px; 
      border-radius: 20%;
      border: 3px red;
    ">➕</button></a></h2>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      
      </ul>
    </nav>
  </header>
