<%- include('partials/header') -%>

<section class="about">
  <h1>About Us</h1>
  <p>
    Welcome to our website! We are dedicated to providing high-quality services and
    content for our users. Our goal is to continuously improve and offer the best
    experience for everyone.
  </p>

<%- include('partials/footer') -%>